<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Fundy! Fundraise—with muscle.</title>

	<link rel="stylesheet" href="css/fundy.css" type="text/css" media="screen" />
</head>
<body id=''>

<div class="container">
<h1><img src="/images/splash.png"></h1>
<p>Now sit back and wait for the money to roll in.</p>
<p class="footer">Powered by the Yellow Pages API and the Freshbooks API. Developed by Libin Pan and Andrew Louis</p>


</div>

</body>
</html>
